:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --subtitle-color: #000028;
  --common-title-color: #ff0070;
  --bg-color: #000124;
  --text-color: #f1b2ce;
  --button-color-hover: #FF007066;
}