:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --subtitle-color: #353430;
  --common-title-color: #353430;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --button-color-hover: #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --subtitle-color: #353430;
    --common-title-color: #353430;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --button-color-hover: #32312d66;
  }

  .decoration-item {
    display: none;
  }
}